 :root {
    --main-text-color: #2E2F42;
    --main-title-color: #FFFFFF;
    --main-content-color: #434455;
    --main-logo-color: #F4F4FD;
    --main-info-color:#E7E9FC;
    --main-background-color:#4D5AE5;
    --main-button-color: #404BBF;
    
 }
 body {
font-family:"Roboto",sans-serif;
background: var(--main-title-color);
color: var(--main-content-color);
}
/*--------дефолт-класс-link---------*/
.link {text-decoration: none;}
/*----------дефолт-класс-list--------*/
.list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-content-color);
    text-decoration: none;
    list-style: none;
}
/*----------обнуляем-отступ--------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
/*------логотип------*/
.logo{
    font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--main-background-color);
        margin-right: 76px;
        }

.logo-studio{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height:1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);}
    

    /*---header-menu---*/
                  
.header-boss{
    border-bottom: 1px solid #E7E9FC
}
.boss-container{ 
    display:flex;
} 
.container{
    width: 1188px;
padding-left: 15px; 
padding-right: 15px;

margin: 0px auto;
width: 1188px;
border-bottom: 1px solid #e7e9fc;
}

.header-navigation{
    display: flex;
    align-items: center;
    gap: 40px;
    
}

.group-list{
display: flex;
padding: 24px 0px;
gap: 40px
}
.menu-list{

}

.header-menu{
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
          padding-top: 24px;
          padding-bottom: 24px;
       
        }
        

.header-menu:hover {
    color: var(--main-button-color);
}

.header-menu:focus {
    color: var(--main-button-color);

}

/*---adress---*/
.address{
    font-style: normal;
}

.contact-group{
    display: flex;
    gap: 40px
}
.contact-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-content-color);
}

.contact-list:hover {
    color: var(--main-background-color);
}

.contact-list:focus {
    color: var(--main-background-color);
}


/*------h1--------*/
.hero {

    background: var(--main-text-color);
    padding-top: 188px;
     padding-bottom: 188px;
}

.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    text-align: center;
/*------ширина текста заголовка------*/
    max-width: 496px;
}
/*------button-index------*/
.hero-btn {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-title-color);
    background: var(--main-background-color);
    cursor: pointer;
/*-----для можливості центрувати кнопку через властивість margin*/
    display: block;
    min-width: 169px;
    height: 56px;
    /*для вимкнення стандартного оформлення кнопки*/
    border:none;
    background-color:var(--main-background-color);
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn:hover {
    background: var(--main-button-color);
}

.hero-btn:focus {
    background: var(--main-button-color);
}

/*-----------MAIN-index-----------*/

/*-----------скрыть-заголовок-----------*/
.visually-hidden {
    position: fixed;
    transform: scale(0);
}
/*------------------------------*/

.title-list {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
        list-style: none;
}
.title-list-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-content-color);
}

/*-------третя секция------*/
.only-foto{
    padding-bottom: 120px;
}
.done {
    text-align: center;
    font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
        text-transform: capitalize;
        margin-bottom: 72px;
    }
        .foto-list{
            /*-------розміщення-по-горизонталі-в-рядок*/
            display: flex;
/*-------відступи-між-єлементами-----*/
            gap: 24px;
        }
        .done-list-item{
/*--Для першого елементу списку в класі заданий стиль width: calc((100% - 48px) / 3);
    для визначення ширини пункту списку (від загальної ширини екрану віднімаємо суму відступів між пунктами і ділимо це на кількість пунктів списку) (можна використовувати width: calc((100% - 3 * 16px) / 3) або flex-basis: calc((100% - 48px) / 3) або flex-basis: calc((100% - 3 * 16px) / 3))*/
    width: calc((100% - 48px) / 3);
        }
/*------------четверта секция---------------*/

.people {background-color:var(--main-logo-color);
    padding: 120px 0
}
.team {
    text-align: center;
    text-transform: capitalize;
font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    background-color: var(--main-title-color);
/*---відступ між заголовком та параграфом----*/
    margin-bottom: 72px;
}

.list-item{
    gap: 24px;
    display: flex;
}


.team-list{
    /*---цвет фона фoто----*/
    background-color:var(--main-title-color);
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
   
}
.job-title{
    padding: 32px 16px;
}

/*---------footer-----------*/

.footer {
    background: var(--main-text-color);
    padding-top: 100px;
     padding-bottom: 100px;
       }

.logo {
    margin-bottom: 16px;
    display: inline-block;
margin-right: 76px;
}

.logotype {

   font-family: 'Raleway',
    sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-logo-color);
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-logo-color);
    max-width: 264px;
}
/*----------portfolio-----------*/
.apps{
    padding-top: 96px;
    padding-bottom: 120px;
}
.apps-box-button{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;

}
/*----------button-portfolio-----------*/
.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-background-color);
    background: var(--main-logo-color);
    cursor: pointer;
/*-Для кнопки в класі заданий стиль padding: 12px 24px для визначення відступів всередині кнопки (можна використовувати аналог padding: 12px 24px 12px або padding-top: 12px; та padding-bottom: 12px; padding-left: 24px; padding-right: 24px; )-*/
padding: 12px 24px 12px;
border: 1px  solid var(--main-info-color);
border-radius: 4px;

}

.button:hover {
    color: var(--main-title-color);
    background-color: var(--main-button-color);
    cursor: pointer;
    border: 1px solid transparent;
}

.button:focus {
    color: var(--main-title-color);
    background: var(--main-button-color);
    cursor: pointer;
    border: 1px solid transparent;
}


/*-------h2 --p--фото-portfolio--*/
.foto-apps{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
 .headliner {
    width: calc((100% - 48px) / 3);
 }
 .headliner-box{
    padding: 32px 16px;
    border: 1px solid var(--main-info-color);
    border-top: none;


 }
.title-list{
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:var(--main-text-color);
}

.title-list-item{

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--main-content-color);

text-align: center;

}

/*-----header-portfolio-------------*/
.portfolio-header{
    border-bottom: 1px solid var(--main-info-color);
    
}
.header-box{
    display: flex;


}


/*-----portfolio h2--*/
.list-work{
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:var(--main-text-color);
        margin-bottom: 8px;

}
/*-----img --*/
img{
    display: block;
}
/*-----друга-секция--*/
.work{
 padding-top: 120px;
 padding-bottom: 120px;
}
.work-strategy{

    display: flex;
    /*-----визначення розмірів відступів між елементами списку*/
    gap: 24px;
}
.list-work{
/*--Для першого елементу списку в класі заданий стиль width: calc((100% - 72px) / 4);
    для визначення ширини пункту списку (від загальної ширини екрану віднімаємо суму відступів між пунктами і ділимо це на кількість пунктів списку) (можна також використовувати width calc((100% - 3 * 24px) / 4) або flex-basis: calc((100% - 3 * 24px) / 4) або flex-basis: calc((100% - 72px) / 4))*/
    width: calc((100% - 72px) / 4);
    
}
.title-list{
    /*----визначення відступу між заголовком і параграфом*/
    margin-bottom: 8px;
    text-align: center;
}

